<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>test vista de datos</title>
        <h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="bootstrap/css" name="bootstrap-responsive.min.css"/>
        <h:outputStylesheet library="css" name="theme.css"/>
        <h:outputStylesheet library="images/icons/css" name="font-awesome.css"/>
    </h:head>
    <style>
        .ui-state-default {

            background: #393939;
            color: white;
            font-size: 17px;
            font-weight: 400;

        }

        .ui-button {

            background: white !important;

        }
    </style>
    <h:body>

        <div id="top">
            <ui:insert name="top">
                <header>
                    <div class="header__bg"></div>
                    <div id="menu">

                        <div id="nav">
                            <div class="navbar navbar-fixed-top">
                                <div class="navbar-inner">
                                    <div class="container">
                                        <a class="brand name_program"><p:graphicImage library="images" name="logo.png"/></a>
                                        <div class="nav-collapse collapse navbar-inverse-collapse">
                                            <br/><br/>
                                            <ul class="nav pull-right">
                                                <h:form>
                                                    <p:commandLink onclick="PF('usuario').show();">
                                                        <p:graphicImage library="images" name="user.png" class="nav-avatar"/>
                                                        <p:commandButton icon="	ui-icon-grip-dotted-vertical" class="botonMenu"/>
                                                    </p:commandLink>
                                                </h:form>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </ui:insert>
        </div>

        <div class="wrapper">
            <div class="container">
                <div class="row">


                    <div id="left">
                        <ui:insert name="left">
                            <div class="span3">
                                <div class="sidebar">
                                    <ul class="widget widget-menu unstyled">
                                        <li class="active" style="text-align: center;font-size: 19px;font-family: arial;"><a href="index.xhtml">Inicio
                                            </a></li>
                                    </ul>
                                    <ul class="widget widget-menu unstyled">
                                        <li style="text-align: center;"><a class="collapsed" data-toggle="collapse" href="#togglePages"><i>
                                                </i><i class=" pull-right"></i><i class="pull-right">
                                                </i>Compras</a>
                                            <ul id="togglePages" class="collapse unstyled">
                                                <li><a href="#" >Hacer pedido</a></li>
                                                <li><a href="#">Modificar pedido</a></li>
                                            </ul>
                                        </li>
                                        <li style="text-align: center;"><a class="collapsed" data-toggle="collapse" href="#togglePages2"><i>
                                                </i><i class=" pull-right"></i><i class="pull-right">
                                                </i>Ingresar nuevos datos</a>
                                            <ul id="togglePages2" class="collapse unstyled">
                                                <li><a href="faces/test.xhtml">Proveedor</a></li>
                                            </ul>
                                        </li>
                                        <li style="text-align: center;"><a class="collapsed" data-toggle="collapse" href="#togglePages3"><i>
                                                </i><i class=" pull-right"></i><i class="pull-right">
                                                </i>Informacion registrada</a>
                                            <ul id="togglePages3" class="collapse unstyled">
                                                <li><a href="faces/test.xhtml">Proveedor</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="widget widget-menu unstyled">
                                        <li style="text-align: center;"><a href="#">Cerrar Sesion</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ui:insert>
                    </div>


                    <div id="content" class="left_content">
                        <ui:insert name="content">
                            <div class="span9">
                                <div class="content">
                                    <div class="btn-controls">
                                        <div class="span9">
                                            <div class="content">
                                                <div class="module">
                                                    <div class="module-body">


                                                        <br/><br/>
                                                        <div class="tittle-table">
                                                            <center>
                                                                <div id="title">
                                                                    Datos registrados de los proveedores
                                                                </div>
                                                            </center>
                                                        </div>
                                                        <br/>
                                                        <p:growl>
                                                            <p:autoUpdate/>
                                                        </p:growl>
                                                        <h:form id="vista">
                                                            <p:dataTable value="#{bean_proveedor.listaProveedor}" var="c">
                                                                <p:column headerText="ID">
                                                                    <p:outputLabel value="#{c.idProvedor}"/>
                                                                </p:column>
                                                                <p:column headerText="Nombre del proveedor">
                                                                    <p:outputLabel value="#{c.nombreProveedor}"/>
                                                                </p:column>
                                                                <p:column headerText="Telefono">
                                                                    <p:outputLabel value="#{c.telefono}"/>
                                                                </p:column>
                                                                <p:column headerText="Giro">
                                                                    <p:outputLabel value="#{c.giros.nombreGiro}"/>
                                                                </p:column>
                                                                <p:column headerText="Actions">
                                                                    <p:commandButton icon="ui-icon-trash" actionListener="#{bean_proveedor.eliminar(c.idProvedor)}" update="vista"/>
                                                                    <p:commandButton icon="ui-icon-pencil" actionListener="#{bean_proveedor.mostrarPorID(c.idProvedor)}" update="panel2" onclick="PF('ventana').show();"/>
                                                                </p:column>
                                                            </p:dataTable>
                                                            <br/>
                                                        </h:form>
                                                        <br/><br/>
                                                        <p:dialog widgetVar="ventana" showEffect="fade" hideEffect="fade" resizable="false">
                                                            <h:form id="panel2">
                                                                <p:growl>
                                                                    <p:autoUpdate/>
                                                                </p:growl>
                                                                <p:panelGrid columns="2">
                                                                    <p:outputLabel value="Nombre de proveedor"/>
                                                                    <p:inputText value="#{bean_proveedor.nombre_proveedor}"/>

                                                                    <p:outputLabel value="Telefono"/>
                                                                    <p:inputMask mask="9999-9999" value="#{bean_proveedor.telefono}"/>

                                                                    <p:outputLabel value="Giro"/>
                                                                    <p:selectOneMenu value="#{bean_proveedor.id_giro}">
                                                                        <f:selectItems value="#{bean_proveedor.listaGiros}" var="cg" itemLabel="#{cg.nombreGiro}" itemValue="#{cg.idGiro}"/>
                                                                    </p:selectOneMenu>
                                                                </p:panelGrid>
                                                                <p:outputLabel value="id de proveedor" style="display: none;"/>
                                                                <p:inputText value="#{bean_proveedor.id_proveedor}" style="display: none;"/>
                                                                <br/>
                                                                <center>
                                                                    <p:commandButton value="actualizar" actionListener="#{bean_proveedor.actualizar(c.idProvedor)}" update="vista" class="boton"/>
                                                                </center>

                                                            </h:form>
                                                        </p:dialog>
                                                        <br/><br/><br/><br/><br/>
                                                    </div>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ui:insert>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <div class="footer">
                    <br/>
                    <div class="container" id="copiright">
                        <hr style="width: 80%;margin: auto;"/>
                        <br/>
                        <b style="color: white;font-family: arial;">&copy; All rights reserved | c_compra™ 2019</b>.
                    </div>
                </div>
                <p:dialog widgetVar="usuario" showEffect="fade" hideEffect="fade" resizable="false" header="Usuario">
                    <p:panelGrid columns="1">
                        <p:link href="#" value="Informacion de usuario"></p:link>
                        <p:link href="#" value="Editar informacion"></p:link>
                    </p:panelGrid>
                </p:dialog>
            </ui:insert>
        </div>
        <h:outputScript library="bootstrap/js" name="bootstrap.min.js"/>
        <h:outputScript library="scripts/flot" name="jquery.flot.js"/>
        <h:outputScript library="scripts/flot" name="jquery.flot.resize.js"/>
        <h:outputScript library="scripts/datatables" name="jquery.dataTables.js"/>
        <h:outputScript library="scripts" name="common.js"/>
    </h:body>

</html>
