<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:growl>
            <p:autoUpdate/>
        </p:growl>

        <f:view>
            <center><h:form id="form1">
                    <h1><h:outputText value="Nuevo registro de gerencia"/></h1>
                    <p:panelGrid style="text-align: center" columns="2">
                        <p:outputLabel value="IdGerencia"/>
                        <p:inputText id="idGerencia" value="#{bean_gerencia.id_gerencia}" title="IdGerencia"/>
                        <p:outputLabel value="Nombre"/>
                        <p:inputText id="nombre" value="#{bean_gerencia.nombre}" title="Nombre" required="true" requiredMessage="nombre es requerido"/>
                        <p:outputLabel value="Apellido"/>
                        <p:inputText id="apellido" value="#{bean_gerencia.apellido}" title="Apellido" required="true" requiredMessage="nombre es requerido"/>
                        <p:outputLabel value="CodEmpleado" />
                        <p:inputText id="codEmpleado" value="#{bean_gerencia.cod_empleado}" title="CodEmpleado" required="true" requiredMessage="codigo de empleado es requerido"/>
                        <p:outputLabel value="Usuario"/>
                        <p:inputText id="usuario" value="#{bean_gerencia.usuario}" title="Usuario" required="true" requiredMessage="usuario es requerido"/>
                        <p:outputLabel value="Pass"/>
                        <p:inputText id="pass" value="#{bean_gerencia.pass}" title="Pass" required="true" requiredMessage="password es requerido"/>
                        <p:outputLabel value="Departamento"/>
                        <p:selectOneMenu id="departamento" value="#{bean_gerencia.departamento}" required="true" requiredMessage="The Departamento field is required.">
                            <f:selectItems value="#{bean_gerencia.listadepa}" var="dep" itemValue="#{dep.idDepartamento}" itemLabel="#{dep.nombreDepartamento}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton update="form1, form2" action="#{bean_gerencia.guardar()}"  value="guardar" />
                </h:form></center>
        </f:view>
        <br/>
        <br/>
        <f:view>


            <h:form id="form2">
                <center><h1><h:outputText value="Datos ingresados"/></h1></center>
                <p:dataTable style="text-align: center" value="#{bean_gerencia.lista}" var="item">
                    <p:column>
                        <f:facet name="header"> 
                            <h:outputText value="Id de Gerencia"/>
                        </f:facet>
                        <h:outputText value="#{item.idGerencia}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nombre"/>
                        </f:facet>
                        <h:outputText value="#{item.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Apellido"/>
                        </f:facet>
                        <h:outputText value="#{item.apellido}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Codigo de Empleado"/>
                        </f:facet>
                        <h:outputText value="#{item.codEmpleado}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Usuario"/>
                        </f:facet>
                        <h:outputText value="#{item.usuario}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Departamento"/>
                        </f:facet>
                        <h:outputText value="#{item.departamento}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Acciones"/>
                        </f:facet>
                        <p:commandButton value="ELIMINAR" style="width: 140px;" icon="ui-icon-trash" update=":form2"  action="#{bean_gerencia.eliminar(item.idGerencia)}"/>
                        <p:commandButton update=":form3" style="width: 140px;" onclick="PF('ventana').show();" value="EDITAR" icon="ui-icon-pencil"  action="#{bean_gerencia.mostrarporID(item.idGerencia)}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </f:view>

        <p:dialog widgetVar="ventana" resizable="false" showEffect="fade" hideEffect="fade">
            <center><h:form id="form3">
                    <p:panelGrid style="text-align: center" columns="2">
                        <p:outputLabel value="IdGerencia"/>
                        <p:inputText id="idGerencia" value="#{bean_gerencia.id_gerencia}" title="IdGerencia"/>
                        <p:outputLabel value="Nombre"/>
                        <p:inputText id="nombre" value="#{bean_gerencia.nombre}" title="Nombre" />
                        <p:outputLabel value="Apellido"/>
                        <p:inputText id="apellido" value="#{bean_gerencia.apellido}" title="Apellido" />
                        <p:outputLabel value="CodEmpleado"/>
                        <p:inputText id="codEmpleado" value="#{bean_gerencia.cod_empleado}" title="CodEmpleado" />
                        <p:outputLabel value="Usuario"/>
                        <p:inputText id="usuario" value="#{bean_gerencia.usuario}" title="Usuario" />
                        <p:outputLabel value="Pass"/>
                        <p:inputText id="pass" value="#{bean_gerencia.pass}" title="Pass" />
                        <p:outputLabel value="Departamento" />
                        <p:selectOneMenu id="departamento" value="#{bean_gerencia.departamento}" required="true" requiredMessage="The Departamento field is required.">
                            <f:selectItems value="#{bean_gerencia.listadepa}" var="dep" itemValue="#{dep.idDepartamento}" itemLabel="#{dep.nombreDepartamento}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton update=":form2" action="#{bean_gerencia.actualizar()}" onclick="PF('ventana').close();" icon="ui-icon-circle-check" value="ACTUALIZAR" />
                    </center>
                </h:form></center>
        </p:dialog>
    </h:body>
</html>

