<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:growl>
            <p:autoUpdate/>
        </p:growl>
        <h:form id="panel">

            <p:panelGrid columns="2">
                <p:outputLabel value="Nombre de proveedor"/>
                <p:inputText value="#{bean_proveedor.nombre_proveedor}"/>

                <p:outputLabel value="Telefono"/>
                <p:inputMask mask="9999-9999" value="#{bean_proveedor.telefono}"/>

                <p:outputLabel value="Giro"/>
                <p:selectOneMenu value="#{bean_proveedor.id_giro}">
                    <f:selectItems value="#{bean_proveedor.listaGiros}" var="c" itemLabel="#{c.nombreGiro}" itemValue="#{c.idGiro}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Estado"/>
                <p:selectOneMenu value="#{bean_proveedor.id_estado}">
                    <f:selectItems value="#{bean_proveedor.listaEstados}" var="es" itemLabel="#{es.nombre}" itemValue="#{es.idEstadoGlobal}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <p:commandButton value="guardar" actionListener="#{bean_proveedor.guardar()}" update="panel, vista"/>
        </h:form>
        <p:growl>
            <p:autoUpdate/>
        </p:growl>
        <h:form id="vista">
            <p:dataTable value="#{bean_proveedor.listaProveedor}" var="c">
                <p:column headerText="ID">
                    <p:outputLabel value="#{c.idProvedor}"/>
                </p:column>
                <p:column headerText="Nombre del proveedor">
                    <p:outputLabel value="#{c.nombreProveedor}"/>
                </p:column>
                <p:column headerText="Telefono">
                    <p:outputLabel value="#{c.telefono}"/>
                </p:column>
                <p:column headerText="Giro">
                    <p:outputLabel value="#{c.giros.nombreGiro}"/>
                </p:column>
                <p:column headerText="Actions">
                    <p:commandButton icon="ui-icon-trash" actionListener="#{bean_proveedor.eliminar(c.idProvedor)}" update="vista"/>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{bean_proveedor.mostrarPorID(c.idProvedor)}" update="panel2" onclick="PF('ventana').show();"/>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog widgetVar="ventana" showEffect="fade" hideEffect="fade" resizable="false">
            <h:form id="panel2">
                <p:growl>
                    <p:autoUpdate/>
                </p:growl>
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre de proveedor"/>
                    <p:inputText value="#{bean_proveedor.nombre_proveedor}"/>

                    <p:outputLabel value="Telefono"/>
                    <p:inputMask mask="9999-9999" value="#{bean_proveedor.telefono}"/>

                    <p:outputLabel value="Giro"/>
                    <p:selectOneMenu value="#{bean_proveedor.id_giro}">
                        <f:selectItems value="#{bean_proveedor.listaGiros}" var="cg" itemLabel="#{cg.nombreGiro}" itemValue="#{cg.idGiro}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="Estado"/>
                    <p:selectOneMenu value="#{bean_proveedor.id_estado}">
                        <f:selectItems value="#{bean_proveedor.listaEstados}" var="es" itemLabel="#{es.nombre}" itemValue="#{es.idEstadoGlobal}"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:outputLabel value="id de proveedor" style="display: none;"/>
                <p:inputText value="#{bean_proveedor.id_proveedor}" style="display: none;"/>
                <p:commandButton value="actualizar" actionListener="#{bean_proveedor.actualizar(c.idProvedor)}" update="vista"/>
            </h:form>
        </p:dialog>
    </h:body>
</html>

