<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
                <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-clearmin.min.css"></link>
                <link rel="stylesheet" type="text/css" href="../assets/css/roboto.css"></link>
                <link rel="stylesheet" type="text/css" href="../assets/css/material-design.css"></link>
                <link rel="stylesheet" type="text/css" href="../assets/css/small-n-flat.css"></link>
                <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css"></link>
                <title>Administrador</title>
            </meta>
        </meta>
        <style>
            .ui-widget-header{
                background: #2E9AFE !important;
            }
            img{
                position: relative;
                border-radius: 8px;
                height: 45px;
                top: 2px;
            }
            #copi{
                position:  relative;
                top: 330px;
                right: 50px;
            }
            .table-bordered{
                border: none;
            }
            .col-lg-10{
                border: none;
                position: relative;
                top: 100px;
                left: 100px;
            }
            .ui-panel-titlebar{
                background: #2E9AFE !important;
            }
            .ui-dialog-titlebar {
                background: #2E9AFE !important;
            }
        </style>
    </h:head>
    <h:body class="cm-no-transition cm-1-navbar" style="background-color: #000 !important">

        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex"><a  >

                        <img src="../image/TECHLOGO.JPG" height="49px" width="210px"/>
                    </a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li class="active"><a href="../vistasConsultasAdmin/vistaInicioAdmin.xhtml"  class="sf-user-male">Perfil</a></li>

                            <li class="cm-submenu">
                                <a class="sf-search">Consultar<span class="caret"></span></a>
                                <ul>

                                    <li><a href="../vistasConsultasAdmin/vistaCliente.xhtml">Clientes registrados</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaVendedores.xhtml">Vendedores registrados</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaInventario.xhtml">Inventario registrado</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaProveedores.xhtml">Proveedor registrado</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaProductos.xhtml">Producto registrado</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaFactura.xhtml">Facturas registradas</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaProveedorProducto.xhtml">Producto proveedor registrado</a></li>
                                    <li><a href="../vistasConsultasAdmin/vistaSucursal.xhtml">Sucursales registradas</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-floppy">Insertar <span class="caret"></span></a>
                                <ul>
                                    <li><a href="../vistasIngresarAdmin/ingresarCuentaAdmin.xhtml" >Insertar usuario</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarCliente.xhtml">Insertar Cliente</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarFactura.xhtml">Insertar Factura</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarProveedor.xhtml">Insertar Proveedor</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarInventario.xhtml">Insertar Inventario</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarProductos.xhtml">Insertar Productos</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarProveedorProducto.xhtml">Insertar Proveedor/Producto</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarSucursal.xhtml">Insertar Sucursal</a></li>
                                    <li><a href="../vistasIngresarAdmin/ingresarVendedor.xhtml">Insertar Vendedor</a></li>
                                </ul>
                            </li>

                        </ul>

                        <center>
                            <footer id="copi">
                                &copy; TechComputer
                            </footer>
                        </center> 

                    </div>
                </div>
            </div>
        </div>
        <header id="cm-header">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div class="cm-flex">
                    <h1>Ingresar Factura</h1> 

                </div>


                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a> Usuario: <h:outputLabel value="#{beanVendedores.nombre_vendedor}" ></h:outputLabel> 
                                <h:outputLabel value="#{beanVendedores.apellido_vendedor}"  ></h:outputLabel> 
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="../vistasConsultasAdmin/vistaInicioAdmin.xhtml"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>                     
                        <li>
                            <a href="../index.xhtml"><i class="fa fa-fw fa-sign-out"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <br/>
        <div class="container-fluid" style="background-color: #000 !important">
            <div class="row container">

                <div class="col-lg-10">
                    <div class="card">

                        <div>
                            <div id="chart_div_3" > 
                                <h:form>
                                    <p:growl>
                                        <p:autoUpdate/>
                                    </p:growl>
                                    <p:panel id="panel" style="text-align: center;width: 400px;margin: auto;height:500px;">
                                        <p:panelGrid columns="2" style="height: 400px;margin: auto;">
                                            <f:facet name="header">
                                                Nueva Factura
                                            </f:facet>
                                            <p:outputLabel value="ID factura"/>
                                            <p:inputText value="#{beanFactura.id_factura}"/>
                                            <p:outputLabel  value="Vendedor"/>
                                            <p:selectOneMenu   required="true" requiredMessage="Vendedor es requerido" value="#{beanFactura.id_vendedor}" style="width: 170px;">
                                                <f:selectItems  value="#{beanFactura.listaVendedor}" var="pro" itemLabel="#{pro.nombreVendedor}" itemValue="#{pro.idVendedor}"/>
                                            </p:selectOneMenu>

                                            <p:outputLabel  value="Cliente"/>
                                            <p:selectOneMenu  required="true" requiredMessage="Cliente es requerido" value="#{beanFactura.id_cliente}" style="width: 170px;">
                                                <f:selectItems value="#{beanFactura.listaCliente}" var="pr" itemLabel="#{pr.nombreCliente}" itemValue="#{pr.idCliente}"/>
                                            </p:selectOneMenu>

                                            <p:outputLabel  value="Inventario"/>
                                            <p:selectOneMenu  required="true" requiredMessage="Inventario es requerido" value="#{beanFactura.id_inventario}" style="width: 170px;">
                                                <f:selectItems  value="#{beanFactura.listaInventario}" var="prr" itemLabel="#{prr.idInventario}" itemValue="#{prr.idInventario}"/>
                                            </p:selectOneMenu>

                                            <p:outputLabel  value="Tipo de pago"/>
                                            <p:selectOneMenu  required="true" requiredMessage="Tipo de pago es requerido" value="#{beanFactura.tipo_pago}" style="width: 170px;">
                                                <f:selectItems  value="#{beanFactura.listaTipoPago}" var="pr" itemLabel="#{pr.tipoPago}" itemValue="#{pr.idTipoPago}"/>
                                            </p:selectOneMenu>

                                            <p:outputLabel  value="total productos"/>
                                            <p:inputText  value="#{beanFactura.total_productos}" required="true" requiredMessage="total producto es requerido"/>

                                            <p:outputLabel  value="total ventas"/>
                                            <p:inputText  value="#{beanFactura.total_ventas}" required="true" requiredMessage="total de ventas es requerido"/>

                                        </p:panelGrid>
                                        <p:commandButton class="btn btn-primary" value="Guardar datos" actionListener="#{beanFactura.guardarDatosFactura()}" update="panel" style="background: #2E9AFE;color: white;top: 25px;"/>
                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="../assets/js/jquery.mousewheel.min.js"></script>
        <script src="../assets/js/jquery.cookie.min.js"></script>
        <script src="../assets/js/fastclick.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/clearmin.min.js"></script>

    </h:body>
</html>

